<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Exchange Rate Calculator</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="img/money.png" alt="money-image" id="img">
            <h1>Exchange Rate Calculator</h1>
            <p>Choose the currency and the amounts to get the exchange rate</p>
        </div>


<form>
 <div class="main-currency">
            <select id="currency-one" name="currencyOne">
                {{!-- <option value="EUR">EUR</option> --}}
            </select>
            <input type="number" value="1" name="amountOne" id="amount-one">
        </div>
        <div class="swap-container">
            <button class="btn" id="swap">swap</button>
            <p id="rate" name="rate">1 EUR = 1 EUR</p>
        </div>
        <div class="second-currency">
            <select id="currency-two" name="currencyTwo">
                {{!-- <option value="EUR">EUR</option> --}}
            </select>
            <p type="number" id="amount-two" name="amountTwo">1 EUR = 1.00 EUR</p>
        </div>
        <button type="submit" class="myButton">Calculate</button>
             </form>

             <div class="date">
                 <p id="date"></p>
             </div>
    </div>
    <script type="module" src="./js/script.js"></script>
</body>
</html>